* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img, .gallery-item > p {
  width: 500px;
}

hr {
  border: 2px solid;
}

#gallery-header {
  padding-bottom: 6px;
  width: 80%;
  margin: auto;
  text-align: left;
}

#gallery-header > h1 {
  margin-left: 0;
}

#gallery-header > p {
  color: #4380f1;
  font-weight: 800;
}

.gallery-grid {
  border: 2px 2px black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem;
  max-width: 75%;
  margin: 0 auto;
}

/* Add code here */

#gallery-container {
  position: sticky;
  top: 0;
  background-color: aliceblue;
  border: 2px solid lightgray;
}

#gallery-container > h1 {
  margin-left: 0;
}

#gallery-container > p {
  font-weight: 800;
  color: blue;
  text-align: right;
}

.gallery-item {
  display: block;
  height: 100%;
  width: 100%;
  margin: 1% 1%;
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: 4px 4px 2px lightgrey;
}

.gallery-item:hover {
  border: 1px solid red;
  box-shadow: 8px 8px 2px darkgrey;

}