html {
    background-color: #1e2030;
    color: #cad3f5;
}

html, body {
    height: 100%;
    margin: 0;
    background-image: url(img/galaxy_center.webp);
    background-size: cover;
    background-attachment: fixed;
}

header,
footer {
    width: 100%;
    background-color: #181926;
    color: #cad3f5;
    margin: 0;
    padding: 10px 0;
    box-sizing: border-box;
    box-shadow: 2px 2px 50px #181926;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

footer {
    text-align: center;
    align-items: center;
    bottom: 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1em;
}

/* .nav-item {
    color: #8aadf4;
}

.nav-item:visited {
    color: #c6a0f6;
} */

a {
    color: #8aadf4;
}

a:visited {

    color: #c6a0f6;
}

body {
    background-color: #1e2030;
    color: #cad3f5;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 85%;
    flex: 1;
}

.game-card img,
section img {
    margin-right: 10px;
}

.game-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #f0c6c6;
    border-radius: 1rem;
    background-color: rgb(54, 58, 79, 0.5);
    box-shadow: 2px 2px 25px #f0c6c6;
    backdrop-filter: blur(10px);
}

.social-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 15%;
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #f0c6c6;
    border-radius: 1rem;
    background-color: rgb(54, 58, 79, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 25px rgb(23, 146, 153);
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.logo-small {
    height: 20px;
    width: 20px;
}

.logo-med {
    height: 100px;
    width: 100px;
}

#socials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
