header {
    position: sticky;
    top: 0;
    background-color: darkviolet;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.nav-item {
    color: rgb(255, 214, 214);
}

.nav-item:visited {
    color: rgb(168, 199, 226);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 85%;
}

.game-card img,
section img {
    margin-right: 10px;
}

.logo-small {
    height: 20px;
    width: 20px;
}

.logo-med {
    height: 100px;
    width: 100px;
}

#socials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
